%section#introduction
  .container
    .row.fill-viewport.align-items-center.justify-content-center
      .col-12.col-md-6
        .row
          .col-md-auto
            %h1.text-white.title
              = I18n.t("title")
        %hr.mb-4/
        .row
          %p.lead.text-white-70
            = I18n.t("rules")
        %hr.mb-4/
        .row.mb-4
          %a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}
            = I18n.t("button.home")